.gallery__wrapper {
  padding: 30px 0;
}

.gallery__block {
  display: flex;
  justify-content: center;
}

.block__item {
  width: 180px;
  height: 180px;
  cursor: pointer;
  background-image: url("../img/unit_pic/elves/archer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid $color-add;
  border-radius: 10px;
  @extend %transition;
  &:hover {
    border: 4px solid $color-text;
  }
}

.gallery__modal {
  .modal__header {
    width: 90%;
    padding-bottom: 10px;
  }
  .modal__close-button{
    cursor: pointer;
  }
  .info__head {
    flex-direction: column;
  }
  .info__image {
    background-image: url("../img/unit_pic/training/uther.jpg");
    width: 180px;
    height: 180px;
    align-self: center;
    margin-bottom: 10px;
  }

  .info__name{
    &::after{
        left: 0;
    }
  }
  .info__body {
    padding: 0;
    text-align: center;
    > * {
      margin: 5px 0;
    }
  }

  .info__player{
    align-self: center;
    @include media-mobilesmall{
        flex-wrap: wrap;
    }
  }

  .player__control{
    margin-right: 10px;
  }

  .info__description{
    text-align: center;
  }
}
