.quiz__wrapper {
    display: flex;
    flex-direction: column;
  padding: 10px 0;
  & > * {
    margin-top: 20px;
  }
}

.quiz__block {
  background-color: $color-primary;
  border-radius: 20px;
  padding: 30px;
}

.quiz__question {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}

.question__image,.info__image {
  @extend %unit-image;
}

.question__body,.info__body{
    @extend %unit-body;
}

.question__name{
    @include unit-name($font-size: 3rem,$top:40px,$left:-25px);
}

.info__name{
  @include unit-name($font-size: 2rem,$top:25px,$left:-15px);
}
.quiz__answers {
  background-color: $color-primary;
  border-radius: 10px;
}
.answers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.answer {
  cursor: pointer;
  position: relative;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid $color-border;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    border-radius: 0 0 10px 10px;
  }
  &:hover {
    background-color: $color-link-background-active;
    & > .answer__marker {
      background-color: $color-link-background-active;
    }
  }
}

.answer__marker {
  display: inline-block;
  background-color: $color-link-background;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.quiz__info{
  display: flex;
}


.info__description{
  padding-top: 10px;
}