.quiz__wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  & > * {
    margin-top: 20px;
  }
}

.quiz__block {
  background-color: $color-primary;
  border-radius: 20px;
  padding: 30px;
  @include media-tablet-single-column {
    padding: 20px;
  }
}

.quiz__question {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  @include media-tablet-single-column {
    flex-direction: column;
    text-align: center;
  }
}

.quiz__answers {
  background-color: $color-primary;
  border-radius: 10px;
}

.quiz__info {
  min-height: 325px;
  @include media-tablet {
    min-height: 467px;
  }
  @include media-tablet-single-column {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}
