.quiz__wrapper{
padding: 50px 0;
}


.quiz__question{
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    border-radius: 20px;
    padding: 30px;
}

.question__image{
    background-image: url("../img/unit_pic/humans/footman.jpg");
    width: 200px;
    height: 200px;
    background-size:cover;
    background-position: center;
    border-radius: 20px;
}