.button, body {
  font-family: "Times New Roman", Times, serif;
}

.block__item, .modal, .hamburger__line, .hamburger::after, .hamburger::before, .player__control, .button, a {
  transition: all 0.3s ease;
}

body {
  font-size: 2rem;
}

.question__player,
.info__player {
  width: 90%;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__image, .question__image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.info__body, .question__body {
  padding-left: 50px;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-size: 10px;
  color: #ffdf0e;
}

body {
  min-height: 100vh;
  font-family: "Frizqt", "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1B389D;
}
@font-face {
  body {
    font-family: "Frizqt";
    src: url("../../fonts/FRIZQT__.woff") format("woff");
  }
}

.body {
  justify-content: flex-start;
}
.body_lock {
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #ffdf0e;
}

.colored-fist-letter {
  color: white;
}

svg {
  cursor: pointer;
}

.navigation {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: 1.8rem;
}
@media (max-width: 426px) {
  .navigation {
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 135px;
    height: 270px;
    width: 100%;
    background-color: #152F4B;
    transition: top 0.3s ease 0s;
    transform: translate(0, -100%);
  }
  .navigation_active {
    top: 400px;
  }
}

.navigation__item {
  padding: 15px;
  align-self: center;
}

.navigation__link {
  padding: 8px 15px;
  border: 1px solid #17120e;
  border-radius: 8px;
  background-color: #000039;
}
.navigation__link:hover {
  background-color: #1e37ac;
  color: #d5d8b0;
}
@media (max-width: 426px) {
  .navigation__link {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.navigation__language {
  text-align: end;
}

.language {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.language_active {
  border: 2px solid #ffdf0e;
  border-radius: 50%;
}

.logo-image {
  width: 170px;
  cursor: pointer;
}
@media (max-width: 426px) {
  .logo-image {
    position: relative;
    z-index: 4;
  }
}

.button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 2.8rem;
  color: #ffdf0e;
}
.button_active {
  background-color: #000039;
  color: #ffdf0e;
}
.button_active:hover {
  color: #d5d8b0;
  background-color: #1e37ac;
}
.button_nonactive {
  background-color: #152F4B;
  cursor: default;
  color: grey;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0;
}

h2 {
  font-weight: 400;
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

section, main, footer, header, article {
  display: block;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.question__player > *,
.info__player > * {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .question__player,
  .info__player {
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }
}

.player__bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.player__control {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.player__control_play {
  background-image: url("../img/play.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.player__control_pause {
  background-image: url("../img/pause.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .player__control {
    margin-right: 5px;
  }
}
@media (max-width: 426px) {
  .player__control {
    padding-left: 5px;
  }
}

.player__playtime {
  position: relative;
  width: 80%;
  height: 5px;
  border-radius: 2px;
  background-color: #1B389D;
  cursor: pointer;
}
.player__playtime_played {
  position: absolute;
  z-index: 4;
  width: 0;
  background-color: #000039;
}

.player__info {
  display: flex;
  font-size: 1.8rem;
  padding-left: 10px;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: inline-block;
  background-color: #ffdf0e;
  border-radius: 5px;
}

.hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 25px;
  margin-left: 60px;
}
@media (max-width: 426px) {
  .hamburger {
    display: inline-block;
    position: relative;
    z-index: 4;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}
.hamburger_active > .hamburger__line {
  transform: scale(0) translate(0, 0);
}
.hamburger_active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.hamburger_active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}

.hamburger__line {
  background-color: white;
  top: calc(50% - 1.5px);
  left: 0;
}

@media (max-width: 768px) {
  .question__image {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .question__body {
    padding: 0;
  }
  .question__body > .question__player {
    padding-top: 25px;
  }
}

.question__name {
  position: relative;
  font-size: 3rem;
}
.question__name::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #1B389D;
  top: 40px;
  left: -25px;
}
@media (max-width: 600px) {
  .question__name {
    position: relative;
    font-size: 3rem;
    padding-top: 5px;
  }
  .question__name::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #1B389D;
    top: 40px;
    left: 0px;
  }
}

@media (max-width: 768px) {
  .info__image {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .info__body {
    padding: 0;
  }
  .info__body > .question__player {
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .info__body {
    flex-basis: 50%;
    padding-left: 20px;
  }
  .info__body > * {
    padding: 5px 0;
  }
}

.info__name {
  position: relative;
  font-size: 2rem;
}
.info__name::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #1B389D;
  top: 25px;
  left: -15px;
}
@media (max-width: 768px) {
  .info__name {
    text-align: center;
    position: relative;
    font-size: 2rem;
  }
  .info__name::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #1B389D;
    top: 30px;
    left: 0px;
  }
}

.info__head {
  display: flex;
}
@media (max-width: 768px) {
  .info__head {
    flex-direction: column;
  }
}

.info__description {
  padding-top: 10px;
  text-align: left;
}
@media (max-width: 426px) {
  .info__description {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .wrapper__answers > .quiz__info {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.answer {
  cursor: pointer;
  position: relative;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid #17120e;
}
.answer:first-child {
  border-radius: 10px 10px 0 0;
}
.answer:last-child {
  border-radius: 0 0 10px 10px;
}
.answer:hover {
  background-color: #1e37ac;
}
.answer:hover > .answer__marker_hover {
  background-color: #1e37ac;
}

.answer__marker {
  display: inline-block;
  background-color: #000039;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.answer__marker_red {
  background-color: red;
}
.answer__marker_green {
  background-color: green;
}

.modal {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}
.modal_active {
  opacity: 1;
  visibility: visible;
}

.modal__close-button {
  position: absolute;
  top: 3%;
  right: 5%;
}

.modal__title {
  text-align: center;
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal__main {
  width: 100%;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 50%;
  height: 25%;
  min-height: 200px;
  max-width: 500px;
  min-width: 256px;
  background-color: #152F4B;
  border-radius: 20px;
}

.modal__header {
  padding-bottom: 30px;
}

.modal__buttons {
  display: flex;
  justify-content: center;
}

.modal__text {
  padding-bottom: 20px;
  text-align: center;
}

.intro__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .intro__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.intro__image {
  max-width: 700px;
  width: 60%;
  height: 100%;
  align-self: center;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .intro__image {
    width: 100%;
  }
}

.intro__content {
  max-width: 400px;
  width: 35%;
}
@media (max-width: 768px) {
  .intro__content {
    width: 100%;
  }
}

.intro__title {
  text-align: center;
}

.intro__text {
  font-size: 2rem;
  text-align: left;
}
@media (max-width: 768px) {
  .intro__text {
    text-align: center;
  }
}

.intro__buttons {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}
@media (max-width: 768px) {
  .intro__buttons {
    padding: 0;
  }
}
@media (max-width: 426px) {
  .intro__buttons {
    padding-top: 50px;
  }
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.quiz__wrapper > * {
  margin-top: 20px;
}

.quiz__block {
  background-color: #152F4B;
  border-radius: 20px;
  padding: 20px;
}

.quiz__question {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
@media (max-width: 600px) {
  .quiz__question {
    flex-direction: column;
    text-align: center;
  }
}

.quiz__answers {
  background-color: #152F4B;
  border-radius: 10px;
}

.quiz__info {
  min-height: 325px;
}
@media (max-width: 768px) {
  .quiz__info {
    min-height: 467px;
  }
}
@media (max-width: 600px) {
  .quiz__info {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.gallery__wrapper {
  padding: 30px 0;
}

.gallery__block {
  display: flex;
  justify-content: center;
}

.block__item {
  width: 180px;
  height: 180px;
  cursor: pointer;
  background-image: url("../img/unit_pic/elves/archer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #1B389D;
  border-radius: 10px;
}
.block__item:hover {
  border: 4px solid #ffdf0e;
}

.gallery__modal .modal__header {
  width: 90%;
  padding-bottom: 10px;
}
.gallery__modal .modal__close-button {
  cursor: pointer;
}
.gallery__modal .info__head {
  flex-direction: column;
}
.gallery__modal .info__image {
  background-image: url("../img/unit_pic/training/uther.jpg");
  width: 180px;
  height: 180px;
  align-self: center;
  margin-bottom: 10px;
}
.gallery__modal .info__name::after {
  left: 0;
}
.gallery__modal .info__body {
  padding: 0;
  text-align: center;
}
.gallery__modal .info__body > * {
  margin: 5px 0;
}
.gallery__modal .info__player {
  align-self: center;
  flex-wrap: wrap;
}
.gallery__modal .player__control {
  margin-right: 10px;
}
.gallery__modal .info__description {
  text-align: center;
}

.header {
  background-color: #152F4B;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  position: relative;
  z-index: 4;
  background-color: #152F4B;
}
@media (max-width: 670px) {
  .header__wrapper {
    justify-content: center;
  }
}
@media (max-width: 426px) {
  .header__wrapper {
    justify-content: center;
  }
}

@media (max-width: 426px) {
  .header__nav::before {
    content: "";
    position: absolute;
    z-index: 3;
    height: 100%;
    background-color: #152F4B;
    width: 100%;
    top: 0;
    right: 0;
  }
}

.header__score {
  padding-top: 10px;
}

.header__quiz {
  justify-content: center;
}

.header__rounds {
  flex-basis: 100%;
}

.rounds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.round {
  background-color: #000039;
  margin: 10px 10px 0 10px;
  padding: 10px 25px;
  flex-grow: 1;
  border: 1px solid #17120e;
  border-radius: 5px;
  align-self: center;
  text-align: center;
}
.round_active {
  background-color: #1e37ac;
}
@media (max-width: 768px) {
  .round:last-child {
    flex-basis: 100%;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 20px 40px;
  }
}
@media (max-width: 426px) {
  .wrapper {
    padding: 20px 20px;
  }
}

.main {
  background-color: #1B389D;
}

.footer {
  background-color: #152F4B;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.footer__links {
  display: flex;
  font-size: 1.5rem;
}

.link-element {
  padding: 5px 10px;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}
@media (max-width: 600px) {
  .layout-2-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-2-column > * {
    flex-basis: 100%;
  }
}

.layout-max-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-max-columns > * {
  flex-basis: 0%;
}
.layout-max-columns > * {
  margin-top: 30px;
}
@media (max-width: 426px) {
  .layout-max-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-max-columns > * {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
