.button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 2.8rem;
  @extend %font-primary;
  @extend %transition;
  color: $color-text;
  &_active {
    background-color: $color-link-background;
    
    &:hover {
      color: $color-text-hover;
      background-color: $color-link-background-active;
    }
  }
  &_nonactive{
    background-color: $color-primary;
    
  }
}


.quiz__button {
}
