.info__image {
  @extend %unit-image;
  @include media-tablet {
    align-self: center;
  }
}

.info__body {
  @extend %unit-body;

  @include media-tablet-single-column {
    padding: 0;
    > .question__player {
      padding-top: 25px;
    }
  }
  @include media-tablet {
    flex-basis: 50%;
    padding-left: 20px;
    > * {
      padding: 5px 0;
    }
  }
}

.info__name {
  @include unit-name($font-size: 2rem, $top: 25px, $left: -15px);
  @include media-tablet {
    text-align: center;
    @include unit-name($font-size: 2rem, $top: 30px, $left: 0px);
  }
}

.info__head {
  display: flex;
  @include media-tablet {
    flex-direction: column;
  }
}

.info__description {
  padding-top: 10px;
  text-align: left;
}
