.modal {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  @include showOrHideModal($opacity:0,$visibility:hidden);
  @extend %transition;
  &_active {
    @include showOrHideModal($opacity:1,$visibility:visible);
  }
}

.modal__title{
  text-align: center;
}
.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  
}

.modal__main{
  width: 100%;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  width: 50%;
  height: 25%;
  min-height: 200px;
  max-width: 500px;
  min-width: 256px;
  background-color: $color-primary;

  border-radius: 20px;
  
  
}

.modal__header {
  padding-bottom: 30px;
}
.modal__buttons {
  display: flex;
  justify-content: center;
  
}

.modal__text {
  padding-bottom: 20px;
  text-align: center;
}
