.navigation{
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 1.8rem;
}

.navigation__item{
    padding: 15px;
    
}

.navigation__link{
    padding: 8px 15px;
    border: 1px solid #17120e;
    border-radius: 8px;
    background-color: $color-link-background;
    
    &:hover{
        background-color: $color-link-background-hover;
        color: $color-text-hover;
    }
}