.question__player,
.info__player {
  @extend %player;
}



.player__control {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @extend %transition;
  &_play{
    @include player-button($url:'../img/play.svg');
  }
  &_pause{
    @include player-button($url:'../img/pause.svg');
    
  }
}

.player__playtime {
  width: 80%;
  height: 5px;
  border-radius: 2px;
  background-color: $color-add;
  cursor: pointer;
}
