.question__player,
.info__player {
  > * {
    margin-left: 5px;
  }
  @extend %player;
  @include media-tablet {
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }
}

.player__bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.player__control {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @extend %transition;
  &_play {
    @include player-button($url: "../img/play.svg");
  }
  &_pause {
    @include player-button($url: "../img/pause.svg");
  }
  @include media-tablet {
    margin-right: 5px;
  }
  @include media-mobile {
    padding-left: 5px;
  }
}

.player__playtime {
  position: relative;
  width: 80%;
  height: 5px;
  border-radius: 2px;
  background-color: $color-add;
  cursor: pointer;
  &_played {
    position: absolute;
    z-index: 4;
    width: 0;
    background-color: $color-link-background;
  }
}

.player__info {
  display: flex;
  font-size: 1.8rem;
  padding-left: 10px;
}