.header {
  background-color: $color-primary;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.header__logo {
  
}

.header__questions {
  flex-basis: 100%;
}

.questions {
  display: flex;
  justify-content: space-between;
}

.question {
  background-color: $color-link-background;

  padding: 10px 50px;
  border: 1px solid $color-border;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  &_active {
    background-color: $color-link-background-active;
  }
}
