.header {
  background-color: $color-primary;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  position: relative;
  z-index: 4;
  background-color: $color-primary;
  @include media-tabletsmall {
    justify-content: center;
  }
  @include media-mobile {
    justify-content: space-between;
  }
}

.header__logo {
}

.header__nav {
  @include media-mobile {
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      height: 100%;
      background-color: $color-primary;
      width: 100%;
      top: 0;
      right: 0;
    }
  }
}

.header__questions {
  flex-basis: 100%;
}

.questions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question {
  background-color: $color-link-background;
  margin: 10px 10px 0 10px;
  padding: 10px 25px;
  flex-grow: 1;
  border: 1px solid $color-border;
  border-radius: 5px;
  align-self: center;
  text-align: center;
  &_active {
    background-color: $color-link-background-active;
  }
  @include media-tablet {
    &:last-child {
      flex-basis: 100%;
    }
  }
}
